# -----------------------
# Operating System
# -----------------------
.DS_Store
Thumbs.db

# -----------------------
# Node / Frontend
# -----------------------
node_modules/
npm-debug.log
/dist/
.vite/

# -----------------------
# Laravel / Backend
# -----------------------
/vendor/
.env
/storage/*.key
/storage/framework/cache/data/
storage/logs/
/bootstrap/cache/

# -----------------------
# Build / Production
# -----------------------
/build/
